@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url(../fonts/Montserrat-Light.woff2) format("woff2");
  font-weight: 300;
  font-style: normal
}
@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url(../fonts/Montserrat-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal
}
@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url(../fonts/Montserrat-Medium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal
}
@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url(../fonts/Montserrat-SemiBold.woff2) format("woff2");
  font-weight: 600;
  font-style: normal
}
@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url(../fonts/Montserrat-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal
}
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #000;
  line-height: 1;
  font-family: Montserrat;
  font-size: .875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: Montserrat;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: rgba(0,0,0,0)
}
input,
textarea {
  width: 100%
}
label {
  display: inline-block
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper>main {
  flex: 1 1 auto
}
.wrapper>* {
  min-width: 0
}
[class*=__container] {
  max-width: 57.125rem;
  margin: 0 auto;
  padding: 0 1.25rem
}
[class*="--gc"] {
  display: grid;
  min-width: 0;
  grid-template-columns: 1.25rem 1fr minmax(auto,54.625rem) 1fr 1.25rem
}
[class*="--gc"]>* {
  min-width: 0;
  grid-column: 3/4
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.timer {
  background-image: url(../img/smm-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  padding: 3.125rem 0;
  display: grid;
  align-items: center
}
.timer__container {
  width: 100%
}
.timer__title {
  font-family: var(--font-family);
  font-weight: 700;
  line-height: 140%;
  text-align: center;
  background: linear-gradient(90deg,#ed4a5c 0,#fc8b43 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 2.5rem
}
.timer__text {
  font-size: 1.125rem;
  line-height: 140%;
  text-align: center;
  margin-bottom: 1rem
}
.timer__subtitle {
  font-weight: 600;
  font-size: .875rem;
  line-height: 140%;
  text-transform: uppercase;
  text-align: center;
  color: #ed4f5d
}
.timer__subtitle:not(:last-child) {
  margin-bottom: 2rem
}
.timer__block {
  max-width: 50rem;
  width: 100%;
  backdrop-filter: blur(12px);
  box-shadow: 0 12px 32px 0 rgba(0,0,0,.12);
  background: hsla(0,0%,100%,.12);
  border-radius: 2rem;
  padding: 3rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  border: .0625rem solid transparent;
  background: linear-gradient(-90deg,#fae7fe,#f1e6fe) padding-box,linear-gradient(180deg,#fff 0,rgba(255,255,255,0) 100%) border-box
}
.timer__block:not(:last-child) {
  margin-bottom: 2.5rem
}
.timer__item {
  padding: 0 1.5rem
}
.timer__item:first-child {
  padding-left: 0
}
.timer__item:last-child {
  padding-right: 0
}
.timer__item:not(:last-child) {
  position: relative
}
.timer__item:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translate(0,-50%);
  transform: translate(0,-50%);
  height: 1.1875rem;
  width: .0625rem;
  background-color: #fff
}
.timer__item-value {
  font-family: var(--font-family);
  font-weight: 300;
  line-height: 140%;
  text-align: center;
  background: linear-gradient(90deg,#ed4a5c 0,#fc8b43 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent
}
.timer__item-value:not(:last-child) {
  margin-bottom: .5rem
}
.timer__item-title {
  line-height: 140%;
  text-align: center
}
.timer__bottom-text {
  line-height: 140%;
  text-align: center
}
.timer__bottom-text:not(:last-child) {
  margin-bottom: 1.5rem
}
.timer__btns {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem
}
.timer__btn {
  border: .0625rem solid rgba(0,0,0,.05);
  border-radius: 6.25rem;
  padding: 1rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 3rem;
  background-color: rgba(0,0,0,0);
  transition: opacity .3s
}
.timer__btn.active {
  background-color: #ed4f5d;
  color: #fff;
  font-weight: 500
}
@media (min-width:54.62375em) {
  .timer__title {
    font-size: 3.4375rem
  }
  .timer__item-value {
    font-size: 3.4375rem
  }
}
@media (max-width:47.99875em) {
  .timer__title {
    margin-bottom: 2rem
  }
  .timer__block {
    border-radius: 1.5rem;
    padding: 2rem
  }
  .timer__block:not(:last-child) {
    margin-bottom: 2rem
  }
  .timer__item {
    padding: 0 1rem
  }
}
@media (max-width:29.99875em) {
  .timer {
    background-image: url(../img/smm-bg-mob.jpg)
  }
  .timer__title {
    font-size: 2.8125rem
  }
  .timer__item-value {
    font-size: 2rem
  }
}
@media (max-width:26.24875em) {
  .timer__block {
    padding: 1.5rem .9375rem
  }
}
@media (max-width:23.43625em) {
  .timer__container {
    padding: 0 .9375rem
  }
  .timer__item {
    padding: 0 .3125rem
  }
}
@media (min-width:29.99875em)and (max-width:54.62375em) {
  .timer__title {
    font-size: clamp(2.8125rem ,2.0511104061rem + 2.538071066vw ,3.4375rem)
  }
  .timer__item-value {
    font-size: clamp(2rem ,.248803934rem + 5.8375634518vw ,3.4375rem)
  }
}
@media (any-hover:hover) {
  .timer__btn:hover {
    opacity: .7
  }
}